@mixin message-box( $type, $color: currentColor ) {
	@include absolute( bottom -49px left 10px );
	box-shadow: 0 5px 5px transparentize( rgb(0,0,0), 0.5 );
	border: 5px solid $color;
	border-radius: 2px;
	padding: 5px;
	background-color: $color;
	color: rgb(255,255,255);
	font-size: 13px;
	white-space: nowrap;
}
